/**********************************************************************************************

	Title: CSS for app e-park
	Author: Elmo Wu (by studio xuedesign)
	Date: 2013/08~2013/09   


/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background: url(../images/bg_index.png);
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:20px;
	color:#565555}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 首頁  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{
	display:block;
	width:994px;
	margin:0 auto}	