/**********************************************************************************************

	Title: CSS for app e-park
	Author: Elmo Wu (by studio xuedesign)
	Date: 2013/08~2013/09   

***********************************************************************************************
		1 通用
		2 頁面主結構
		  2.1 頂端區塊
		  2.2 主選單
		  2.3 完美底部佈局
		  2.4 版權列區塊
		3 共用元素
		4 園區快訊
		5 APP相關訊息
		6 APP應用展示
		7 API分享資源
		8 open data
		9 技術論壇
	   10 合作商機
	   11 會員商機 
***********************************************************************************************/


/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background:#FFF;
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#504f4f}
a:link {text-decoration:none; color:#0795c1}
a:visited {text-decoration:none; color:#aad6e6}
a:hover {text-decoration:underline; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}

/* 2. 頁面主結構
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ display:block; width:100%;}

/*2.1 頂端區塊---------------------------*/
header{
	display:block;
	position:fixed;
	width:100%;
	height:171px;
	background: url(../images/bg_pagehead.png) repeat-x}
.head_top, .head_down{ display:block; width:994px; margin:0 auto}	
.head_top{ height:88px; background:url(../images/bg_header-page.jpg) no-repeat}	
h1 a{
	display:block;
	float:left;
	width:345px;
	height:104px;
	text-indent:-9999px;
	background:url(../images/logo_page.png) 20px 12px no-repeat}
.head_down{ height:43px}

	
.head_right{
	display:block;
	float:right;
	font-size:0.813em;
	text-align:right;
	padding:19px 35px 0 0}
.head_right a:link, footer a:link{ text-decoration:none; color:#FFF}
.head_right a:visited, footer a:visited{ text-decoration:none; color:#fff}
.head_right a:hover, footer a:hover{ text-decoration:none; color:#f50}	
.subnav ul{ padding:0 5px 10px 0}
.subnav li{ display:inline; padding-right:10px}
.iocn_site{
	display: inline-block;
	width:16px;
	height:16px;
	background:url(../images/icon_set.png) 0 -16px no-repeat;
	padding-right:3px;
	vertical-align: text-bottom}
.subnav a.btn_sblue{
	padding:0 10px;
	background:#126e93;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px}
.subnav a.snav_in{ background:#4ed4fe; color:#FFF}		
.box_search{
	display:block;
	width:238px;
	height:20px;
	background:#FFF;
	margin-right:10px;
	padding:2px 0 0 12px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	box-shadow:0 2px 5px #ccc inset;
	-moz-box-shadow:0 2px 5px #999 inset; 
	-webkit-box-shadow:0 2px 5px #999 inset}
.input_search{
	display:block;
	float:left;
	width:200px;
	font-size:0.813em;
	font-size:13px;
	color:#9c9c9c;
	border:none;
	background:none}
.box_search .btn_search{
	display:block;
	float:right;
	width:16px;
	height:16px;
	background:url(../images/icon_set.png) no-repeat;
	font-size:0;
	*text-indent:-9999px;
	padding-right:5px}
	
/*2.2 主選單設定---------------------------*/	
nav{ display:block; float:right; width:649px}
nav ul{ padding-top:10px}
nav li{display: inline-block; margin-left:10px;}
.nav_01, .nav_02, .nav_03, .nav_04, .nav_05, .nav_06, .nav_07{
	width:75px; 
	height:76px; 
	background:url(../images/bg_nav.png) no-repeat;
	text-indent:-9999px}
.nav_01:hover, .nav_02:hover, .nav_03:hover, .nav_04:hover, .nav_05:hover, .nav_06:hover, .nav_07:hover{ cursor:pointer}
.nav_01{ background-position: 0 0}
.nav_01:hover{ background-position: -75px 0}	
.nav_02{ background-position: 0 -76px}
.nav_02:hover{background-position: -75px -76px}
.nav_03{background-position: 0 -152px}
.nav_03:hover{background-position: -75px -152px}
.nav_04{background-position: 0 -228px}
.nav_04:hover{background-position: -75px -228px}
.nav_05{background-position: 0 -304px}
.nav_05:hover{background-position: -75px -304px}
.nav_06{background-position: 0 -380px}
.nav_06:hover{background-position: -75px -380px}
.nav_07{background-position: 0 -456px}
.nav_07:hover{background-position: -75px -456px}
					
	
/*2.3 完美底部佈局---------------------------*/
html, body, #wrap {height: 100%;}
body > #wrap {height:auto; min-height: 100%;}
#wrap_content{padding-bottom:114px}
.clearfix:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;} /* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;} /* End hide from IE-mac */

/*2.4 版權列區塊---------------------------*/	
footer{
	clear:both;
	display:block;
	position: relative;
	width:100%;
	height:114px;
	background:url(../images/bg_footer.png) repeat-x;
	margin-top:-114px;
	font-size:0.813em;
	color:#07acd8}
.foot_content{ display:block; width:994px; margin:0 auto}
.copyright{ color:#FFF; text-align:center; line-height:30px; padding-top:3px; letter-spacing:1px}
.footer_left a:link, .footer_mid{ display:block; float:left}
.footer_right{ display:block; float:right; width:100px; padding-top:15px}
.footer_left a{ 
     width:193px;
	 height:80px; 
	 background: url(../images/logo-02.png) 30px 10px no-repeat;
	 text-indent:-9999px}
.footer_mid{ padding:10px 0 0 25px}	 
.pl-25{ padding-left:25px}					